@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
    line-height: 1.6;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 1.25em;
    background: radial-gradient(
            circle at 90% top,
            #4BBF89 0%,       /* Lightest green */
            #45B07F 10%,     /* Slightly darker */
            #3EA175 20%,     /* Darker */
            #38926B 30%,     /* Darker */
            #328361 40%,     /* Darker */
            #2C7457 50%,     /* Darker */
            #26654D 60%,     /* Darker */
            #205643 70%,     /* Darker */
            #1A4739 80%,     /* Darker */
            #14382F 90%,     /* Darker */
            #0E2925 100%     /* Darkest green */
    );
    color: white;
}

.logo-container {
    background-color: transparent;
    padding: 0;
    border-radius: 0.625em;
    display: inline-block;
}

.logo {
    width: 15em;
    height: auto;
}

footer {
    text-align: center;
    padding: 1.25em;
    background-color: #0E2925;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin-top: auto; /* Ensure footer sticks to the bottom */
}

/* Common Button Styles */
.btn {
    background-color: #4BBF89;
    color: #0E2925;
    padding: 0.75em 1.5em;
    border-radius: 0.3em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #0E2925;
    color: #4BBF89;
}