.form-group textarea {
    height: 100px;
    resize: vertical;
}

.form-group.narrow-select {
    width: 50%;
}

.form-group.narrow-select select,
.form-group.narrow-select .date-input-container {
    width: 100%;
}

@media (max-width: 600px) {
    .form-group.narrow-select {
        width: 100%;
    }
}