.form-group textarea {
    height: 100px;
    resize: vertical;
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-with-icon .input-icon.calendar {
    position: absolute;
    right: 0.75em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}