.payment-container p {
    font-size: 1em;
    color: #667;
    margin-bottom: 1.5em;
}

.plan-details strong {
    color: #333;
}

.plan-details > p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-checkmark {
    color: #4BBF89;
    font-weight: bold;
    margin-right: 0.5em;
}

#checkmarks {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.payment-form .checkbox-group {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 0;
}

.payment-form .checkbox-group input[type="checkbox"] {
    padding: 0;
    width: 1em;
    height: 1em;
    margin: 0 0.5em 0 0;
    position: relative;
    left: 0;
    vertical-align: bottom;
}

.payment-form .checkbox-group label {
    line-height: 1em;
    margin-bottom: 0;
    position: relative;
    top: 0;
}

.payment-form .form-group input,
.payment-form .form-group select {
    max-width: 650px;
}

.payment-form .payment-row {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    max-width: 650px;
}

.payment-form .payment-row .expiry-date {
    flex: 2;
}

.payment-form .payment-row .cvv {
    flex: 1;
}

.payment-form .payment-row .transaction-type {
    flex: 3;
}

.payment-form .btn:disabled {
    background-color: #ccc;
    color: #667;
    cursor: not-allowed;
    opacity: 0.7;
}