.payment-container p {
    margin-bottom: 0;
}

.plan-details strong {
    color: #333;
}

#checkmarks {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.payment-form .form-group input,
.payment-form .form-group select {
    max-width: 650px;
}

.payment-form .payment-row {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    max-width: 650px;
}

.payment-form .payment-row .expiry-date {
    flex: 2;
}

.payment-form .payment-row .cvv {
    flex: 1;
}

.payment-form .payment-row .transaction-type {
    flex: 3;
}

.payment-form .btn:disabled {
    background-color: #ccc;
    color: #667;
    cursor: not-allowed;
    opacity: 0.7;
}