.entity-controls {
    margin-bottom: 1rem;
}

.payment-method-details {
    margin-bottom: 2rem;
}

.payment-method-details p {
    font-size: 1em;
    color: #333;
    margin-bottom: 1rem;
}

.action-container {
    position: relative;
    display: inline-block
}

.auto-renewal {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.auto-renewal p {
    font-size: 1em;
    color: #333;
    margin-bottom: 0;
    font-weight: 500;
}

.auto-renewal p span.disabled {
    color: #e04b4b;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4BBF89;
}

input:checked + .slider:before {
    transform: translateX(15px);
}

.toggle-switch .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container.payment-settings-container {
    display: flex;
    gap: 1rem;
}

.content.payment-settings-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.back-to-account-container {
    margin-top: auto;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.table {
    width: auto;
}
.upgrade-link {
    border-top: none;
    text-align: center;
    margin: 0 auto;
}