.tasks-container {
    width: 1300px;
}

.tasks-content {
    display: block;
    width: 100%;
}

.task-table table {
    width: 100%;
}

.entity-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.entity-filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.action-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

td.row-actions {
    padding-left: 0;
}

.action-container form button {
    margin: 0;
}

.task-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5rem;
}

.description-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #4BBF89;
    transition: color 0.3s ease;
    flex-shrink: 0;
}

.description-btn:hover {
    color: #0E2925;
}

.description-btn i {
    font-size: 1rem;
}

.modal-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.3rem;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #667;
}

.close-btn:hover {
    color: #4BBF89;
}

.modal h2 {
    color: #4BBF89;
    margin-bottom: 1rem;
}

.modal p {
    color: #333;
    line-height: 1.5;
}