.users-container {
    width: 1300px;
}

.users-content {
    display: block;
    width: 100%;
}

a.btn.btn-secondary.btn-small,
button.btn.btn-small.btn-status{
    margin: 0;
}

.btn-status {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 70px;
    text-align: center;
}

.btn-status-active {
    background-color: #4BBF89;
    color: #0E2925;
    border: none;
}

.btn-status-active:hover {
    background-color: #0E2925;
    color: #4BBF89;
}

.btn-status-inactive {
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.btn-status-inactive:hover {
    background-color: rgba(231, 76, 60, 0.1);
    color: #e74c3c;
}

.email-container {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .entity-controls {
        justify-content: center;
    }
}