<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${userId != null} ? 'Edit User - ClientFlow' : 'New User - ClientFlow'"></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/new-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{'/dashboard'}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>

<main class="container form-page-container">
    <div class="content">
        <h1 th:text="${userId != null} ? 'Edit User' : 'Create New User'"></h1>
        <form th:if="${userId == null}" th:action="@{/users}" th:method="POST" th:object="${userRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:insert="~{fragments/user-form :: userForm}"></div>
            <div class="form-controls">
                <button type="submit" class="btn btn-secondary">Create User</button>
                <a th:href="@{/users}" class="btn">Cancel</a>
            </div>
        </form>
        <form th:unless="${userId == null}" th:action="@{'/users/' + ${userId}}" th:method="PUT" th:object="${userRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:insert="~{fragments/user-form :: userForm}"></div>
            <div class="form-controls">
                <button type="submit" class="btn btn-secondary">Update User</button>
                <a th:href="@{/users}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</main>

<footer>
    <p>© 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/scripts.js"></script>
</body>
</html>