<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${taskId != null} ? 'Edit Task - ClientFlow' : 'New Task - ClientFlow'"></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/new-task.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{'/dashboard'}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>
<main class="container form-page-container">
    <div class="content">
        <h1 th:text="${taskId != null} ? 'Edit Task' : 'Create New Task'"></h1>
        <form th:if="${taskId == null}" th:action="@{/tasks(filter=${filter})}" th:method="POST" th:object="${taskRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:insert="~{fragments/task-form :: taskForm}"></div>
            <div class="form-controls">
                <button type="submit" class="btn btn-secondary">Create Task</button>
                <a th:href="@{/tasks}" class="btn">Cancel</a>
            </div>
        </form>
        <form th:unless="${taskId == null}" th:action="@{'/tasks/' + ${taskId}(filter=${filter})}" th:method="PUT" th:object="${taskRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:insert="~{fragments/task-form :: taskForm}"></div>
            <div class="form-controls">
                <button type="submit" class="btn btn-secondary">Update Task</button>
                <a th:href="@{/tasks(filter = ${filter})}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</main>
<div th:replace="~{fragments/bad-request-modal :: badRequestModal}"></div>
<footer>
    <p>© 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/scripts.js"></script>
</body>
</html>