<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - ClientFlow</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{'/'}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>

<main class="register-container">
    <div class="register-form">
        <h1>Create Your Account</h1>
        <p>Please fill out the form below to get started.</p>

        <form th:action="@{/register}" th:method="POST" th:object="${registerOwnerRequest}">
            <input type="hidden" th:field="*{planName}" />
            <div class="form-group">
                <label for="firstName">First Name <span class="required">*</span></label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name <span class="required">*</span></label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div class="form-group">
                <label for="email">Email Address <span class="required">*</span></label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="form-group password-group">
                <label for="password">Password <span class="required">*</span></label>
                <div class="password-input-container">
                    <input type="password" id="password" name="password" th:field="*{password}" required>
                    <button type="button" id="togglePassword" class="password-toggle">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" placeholder="e.g. 2025550123" th:field="*{phoneNumber}">
                <p class="alert-warning" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
            </div>
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" id="companyName" name="companyName" th:field="*{businessName}">
                <p class="alert-warning" th:if="${#fields.hasErrors('businessName')}" th:errors="*{businessName}"></p>
            </div>
            <p class="required-description"><span class="required">*</span> Required fields</p>
            <button class="btn" type="submit">Create Account</button>
        </form>
    </div>

    <div class="chosen-plan">
        <h2>Your Plan</h2>
        <div class="plan-details">
            <p>
                <span th:if="${currentPlan.planType.name()} == 'SIMPLE_START'">Simple Start</span>
                <span th:if="${currentPlan.planType.name()} == 'ESSENTIALS'">Essentials</span>
                <span th:if="${currentPlan.planType.name()} == 'PLUS'">Plus</span>
                <span th:text="'$' + ${currentPlan.pricePerMonth.toString()} + '/month'"></span>
            </p>
            <br>
            <br>
            <p id="checkmarks">
                <span><span class="green-checkmark">✔</span> Product support &nbsp;</span>
                <span><span class="green-checkmark">✔</span> No annual contract &nbsp;</span>
                <span><span class="green-checkmark">✔</span> Cancel anytime &nbsp;</span>
            </p>
        </div>
        <p id="sign-in">Already have an account? <a th:href="@{/login}">Sign In</a></p>
    </div>
</main>

<footer>
    <p>&copy; 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="/js/scripts.js"></script>
</body>
</html>