<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks - ClientFlow</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/nav-side-bar.css">
    <link rel="stylesheet" href="/css/tasks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{/dashboard}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>

<main class="container tasks-container">
    <div th:replace="~{fragments/nav-side-bar :: navSideBar(activePage='tasks')}"></div>
    <div class="content tasks-content">
        <h1>Tasks</h1>
        <div class="entity-controls">
            <div class="entity-filters">
                <a th:href="@{/tasks(filter='my-tasks')}" th:class="${#strings.equals(filter, 'my-tasks')} ? 'btn filter-btn active' : 'btn filter-btn'">My tasks</a>
                <a th:href="@{/tasks(filter='tasks-created')}" th:class="${#strings.equals(filter, 'tasks-created')} ? 'btn filter-btn active' : 'btn filter-btn'">Tasks created</a>
                <a th:href="@{/tasks(filter='due-today')}" th:class="${#strings.equals(filter, 'due-today')} ? 'btn filter-btn active' : 'btn filter-btn'">Due today</a>
                <a th:href="@{/tasks(filter='overdue')}" th:class="${#strings.equals(filter, 'overdue')} ? 'btn filter-btn active' : 'btn filter-btn'">Overdue</a>
                <a th:href="@{/tasks(filter='upcoming')}" th:class="${#strings.equals(filter, 'upcoming')} ? 'btn filter-btn active' : 'btn filter-btn'">Upcoming</a>
                <a th:href="@{/tasks(filter='completed')}" th:class="${#strings.equals(filter, 'completed')} ? 'btn filter-btn active' : 'btn filter-btn'">Completed</a>
                <a th:unless="${user.userRole.name() == 'USER'}" th:href="@{/tasks(filter='all-open')}" th:class="${#strings.equals(filter, 'all-open')} ? 'btn filter-btn active' : 'btn filter-btn'">All open tasks</a>
            </div>
            <a th:href="@{/tasks/new-task(filter=${filter})}" class="btn btn-secondary add-action add-entity">+ Add task</a>
        </div>
        <div class="task-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Task name</th>
                    <th>Priority</th>
                    <th>Created by</th>
                    <th>Assigned to</th>
                    <th th:unless="${filter == 'completed'}">Due date</th>
                    <th th:if="${filter == 'completed'}">Completed On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${user.userRole.name() == 'USER' and (#strings.equals(filter, 'my-tasks') and not #lists.isEmpty(myTasks))}" th:each="task : ${accountTasks}" th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-task'">
                    <td>
                        <div class="task-name-container">
                            <span class="task-name" th:text="${task.name}" th:attr="title=${task.name}"></span>
                            <button class="description-btn" th:attr="data-description=${task.description}, data-name=${task.name}">
                                <i class="fas fa-file-alt"></i>
                            </button>
                        </div>
                    </td>
                    <td th:text="${task.priority == null} ? '---' : ${#strings.capitalize(#strings.toLowerCase(task.priority.name()))}"></td>
                    <td th:text="${task.createdByName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.createdByName}"></td>
                    <td th:text="${task.assignedToName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.assignedToName}"></td>
                    <td th:text="${filter == 'completed'} ? ${#temporals.format(task.dateCompleted, 'M/d/yyyy')} : ${#temporals.format(task.dueDate, 'M/d/yyyy')}" th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-date'"></td>
                    <td class="row-actions">
                        <div class="action-container">
                            <form th:action="@{/tasks/{id}/completed(id=${task.id}, filter = ${filter})}" th:method="PUT" th:unless="${task.completed || task.assignedToId != user.id}">
                                <button class="btn btn-secondary btn-small">Mark complete</button>
                            </form>
                            <span th:if="${task.completed}" class="green-checkmark">✔</span>
                            <span class="dropdown-icon">▼</span>
                        </div>
                        <div class="action-dropdown">
                            <a th:href="@{/tasks/{id}(id=${task.id}, filter=${filter})}" class="edit-link">Update</a>
                            <a href="#" class="delete-link" th:attr="data-id=${task.id}, data-name=${task.name}, data-entity='task', data-filter=${filter}">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${user.userRole.name() == 'USER'}" th:each="task : ${userRoleTasks}" th:class="${(task.dueDate.isBefore(#temporals.createToday()) and not task.completed)} ? 'overdue-task'">
                    <td>
                        <div class="task-name-container">
                            <span class="task-name" th:text="${task.name}" th:attr="title=${task.name}"></span>
                            <button class="description-btn" th:attr="data-description=${task.description}, data-name=${task.name}">
                                <i class="fas fa-file-alt"></i>
                            </button>
                        </div>
                    </td>
                    <td th:text="${task.priority == null} ? '---' : ${#strings.capitalize(#strings.toLowerCase(task.priority.name()))}"></td>
                    <td th:text="${task.createdByName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.createdByName}"></td>
                    <td th:text="${task.assignedToName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.assignedToName}"></td>
                    <td th:text="${filter == 'completed'} ? ${#temporals.format(task.dateCompleted, 'M/d/yyyy')} : ${#temporals.format(task.dueDate, 'M/d/yyyy')}" th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-date'"></td>
                    <td>
                        <div class="action-container">
                            <form th:action="@{/tasks/{id}/completed(id=${task.id}, filter=${filter})}" th:method="PUT" th:unless="${task.completed}">
                                <button class="btn btn-secondary btn-small">Mark complete</button>
                            </form>
                            <span th:if="${task.completed}" class="green-checkmark">✔</span>
                            <span class="dropdown-icon">▼</span>
                        </div>
                        <div class="action-dropdown">
                            <a th:href="@{/tasks/{id}(id=${task.id}, filter=${filter})}" class="edit-link">Update</a>
                            <a href="#" class="delete-link" th:attr="data-id=${task.id}, data-name=${task.name}, data-entity='task', data-filter=${filter}">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${(not #strings.equals(user.userRole, 'USER') and #lists.isEmpty(allAccountTasks) and #strings.equals(filter, 'all-open')) || (#strings.equals(filter, 'my-tasks') and #lists.isEmpty(myTasks))}" class="empty-state">
                    <td colspan="6">
                        <div class="empty-message">
                            <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 7v10" stroke="#4BBF89" stroke-width="2" stroke-linecap="round"/>
                                <path d="M12 17l-4-4 4-4" stroke="#4BBF89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>You’re caught up!</p>
                            <p>You don’t have any tasks to do. Check back soon to stay on top of things.</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">×</span>
        <h2 id="modalTaskName"></h2>
        <p id="modalDescription"></p>
    </div>
</div>
<div id="action-confirm-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2 id="action-title">Confirm Action</h2>
        <p id="action-message"></p>
        <div class="modal-buttons">
            <form id="action-form" th:action="@{/tasks/0(filter=${filter})}" th:method="POST">
                <input type="hidden" name="_method" id="action-method" value="POST" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn">Confirm</button>
            </form>
            <button id="cancel-action" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</div>

<footer>
    <p>© 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="/js/scripts.js"></script>
</body>
</html>