<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks - ClientFlow</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/nav-side-bar.css">
    <link rel="stylesheet" href="/css/tasks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{'/dashboard'}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>

<main class="container tasks-container">
    <div class="nav-bar">
        <div class="side-bar-container">
            <nav>
                <div class="side_navbar">
                    <div class="func-block">
                        <a href="/dashboard">
                            <p>Dashboard</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"></path>
                            </svg>
                        </a>
                        <a href="/dashboard">
                            <p>Customers</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm-7 7a7 7 0 0 1 14 0"></path>
                            </svg>
                        </a>
                        <a href="/dashboard">
                            <p>Invoices</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h14v14H5V5Zm2 2h10M7 10h10M7 13h10M7 16h10"></path>
                            </svg>
                        </a>
                        <a href="/dashboard">
                            <p>Quotes</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h8M8 13h8M4 5h16v14H4V5Z"></path>
                            </svg>
                        </a>
                        <a href="/tasks" class="active">
                            <p>Tasks</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5h10M9 9h10M9 13h10M5 5h2M5 9h2M5 13h2"></path>
                            </svg>
                        </a>
                        <a href="/users">
                            <p>Team</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-7 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm14 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-7 7a5 5 0 0 1 5-5h2a5 5 0 0 1 5 5"></path>
                            </svg>
                        </a>
                        <a href="/account">
                            <p>Account</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm0 2c-3 0-6 1.5-6 4v2h12v-2c0-2.5-3-4-6-4Z"></path>
                            </svg>
                        </a>
                        <a href="/dashboard">
                            <p>Notifications</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v1m0 12v3m-7-7H4m16 0h-1M6 6l1.5 1.5m10 10L19 19"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="func-block">
                        <a class="logout" href="/logout">
                            <p>Log Out</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="content tasks-content">
        <h1>Tasks</h1>
        <div class="task-controls">
            <div class="task-filters">
                <a th:href="@{/tasks(filter='my-tasks')}" th:class="${#strings.equals(filter, 'my-tasks')} ? 'btn filter-btn active' : 'btn filter-btn'">My tasks</a>
                <a th:href="@{/tasks(filter='tasks-created')}" th:class="${#strings.equals(filter, 'tasks-created')} ? 'btn filter-btn active' : 'btn filter-btn'">Tasks created</a>
                <a th:href="@{/tasks(filter='due-today')}" th:class="${#strings.equals(filter, 'due-today')} ? 'btn filter-btn active' : 'btn filter-btn'">Due today</a>
                <a th:href="@{/tasks(filter='overdue')}" th:class="${#strings.equals(filter, 'overdue')} ? 'btn filter-btn active' : 'btn filter-btn'">Overdue</a>
                <a th:href="@{/tasks(filter='upcoming')}" th:class="${#strings.equals(filter, 'upcoming')} ? 'btn filter-btn active' : 'btn filter-btn'">Upcoming</a>
                <a th:href="@{/tasks(filter='completed')}" th:class="${#strings.equals(filter, 'completed')} ? 'btn filter-btn active' : 'btn filter-btn'">Completed</a>
                <a th:unless="${user.userRole.name() == 'USER'}" th:href="@{/tasks(filter='all-open')}" th:class="${#strings.equals(filter, 'all-open')} ? 'btn filter-btn active' : 'btn filter-btn'">All open tasks</a>
            </div>
            <a th:href="@{/tasks/new-task}" class="btn btn-secondary add-action add-task">+ Add task</a>
        </div>
        <div class="task-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Task name</th>
                    <th>Priority </th> <!-- TODO <span class="sort-icon">↑</span>-->
                    <th>Created by</th>
                    <th>Assigned to</th>
                    <th th:unless="${filter == 'completed'}">Due date</th> <!-- TODO <span class="sort-icon">↑</span>-->
                    <th th:if="${filter == 'completed'}">Completed On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${user.userRole.name() == 'USER'}" th:each="task : ${accountTasks}"
                    th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-task'">
                    <td>
                        <span th:text="${task.name}"></span>
                        <button class="description-btn" th:attr="data-description=${task.description}">
                            <svg width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6v12m6-6H6" stroke="#4BBF89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </td>
                    <td th:text="${task.priority == null} ? '---' : ${#strings.capitalize(#strings.toLowerCase(task.priority.name()))}"></td>
                    <td th:text="${task.createdByName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.createdByName}"></td>
                    <td th:text="${task.assignedToName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.assignedToName}"></td>
                    <td th:text="${filter == 'completed'} ? ${#temporals.format(task.completedOn, 'M/d/yyyy')} : ${#temporals.format(task.dueDate, 'M/d/yyyy')}"
                        th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-date'"></td>
                    <td>
                        <div class="action-container">
                            <form th:action="@{'/tasks/' + ${task.id} + '/completed'}" th:method="PUT" th:unless="${task.completed || task.assignedToId != user.id}">
                                <button class="btn btn-secondary btn-small">Mark complete</button>
                            </form>
                            <span th:if="${task.completed}" class="green-checkmark">✔</span>
                            <span class="dropdown-icon">▼</span>
                        </div>
                        <div class="task-dropdown">
                            <a th:href="@{'/tasks/' + ${task.id}}" class="edit-link">Edit</a>
                            <form class="delete-link" th:action="@{'/tasks/' + ${task.id}}" th:method="DELETE">
                                <button >Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr th:if="${user.userRole.name() == 'USER'}" th:each="task : ${userRoleTasks}"
                    th:class="${(task.dueDate.isBefore(#temporals.createToday()) and not task.completed)} ? 'overdue-task'">
                    <td>
                        <span th:text="${task.name}"></span>
                        <button class="description-btn" th:attr="data-description=${task.description}">
                            <svg width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6v12m6-6H6" stroke="#4BBF89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </td>
                    <td th:text="${task.priority == null} ? '---' : ${#strings.capitalize(#strings.toLowerCase(task.priority.name()))}"></td>
                    <td th:text="${task.createdByName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.createdByName}"></td>
                    <td th:text="${task.assignedToName == userFirstNameAndLastNameInitial} ? 'Me' : ${task.assignedToName}"></td>
                    <td th:text="${filter == 'completed'} ? ${#temporals.format(task.completedOn, 'M/d/yyyy')} : ${#temporals.format(task.dueDate, 'M/d/yyyy')}"
                        th:class="${task.dueDate.isBefore(#temporals.createToday()) and not task.completed} ? 'overdue-date'"></td>
                    <td>
                        <div class="action-container">
                            <form th:action="@{'/tasks/' + ${task.id} + '/completed'}" th:method="PUT" th:unless="${task.completed}">
                                <button class="btn btn-secondary btn-small">Mark complete</button>
                            </form>
                            <span th:if="${task.completed}" class="green-checkmark">✔</span>
                            <span class="dropdown-icon">▼</span>
                        </div>
                        <div class="task-dropdown">
                            <a th:href="@{'/tasks/edit/' + ${task.id}}" class="edit-link">Edit</a>
                            <a href="#" class="delete-link" th:attr="data-task-id=${task.id}">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(allAccountTasks)}" class="empty-state">
                    <td colspan="6">
                        <div class="empty-message">
                            <svg width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 7v10" stroke="#4BBF89" stroke-width="2" stroke-linecap="round"/>
                                <path d="M12 17l-4-4 4-4" stroke="#4BBF89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>You’re caught up!</p>
                            <p>You don’t have any tasks to do. Check back soon to stay on top of things.</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">×</span>
        <h2>Task Description</h2>
        <p id="modalDescription"></p>
    </div>
</div>

<footer>
    <p>© 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="/js/scripts.js"></script>
</body>
</html>