<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team - ClientFlow</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/nav-side-bar.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{/dashboard}">
            <img src="/images/logo-small.png" alt="ClientFlow Logo" class="logo">
        </a>
    </div>
</header>

<main class="container users-container">
    <div th:replace="~{fragments/nav-side-bar :: navSideBar(activePage='users')}"></div>
    <div class="content users-content">
        <h1>Team</h1>
        <div th:unless="${user.userRole.name() == 'USER'}"  class="entity-controls">
            <div class="entity-filters">
                <a th:href="@{/users(filter='current')}" th:class="${#strings.equals(filter, 'current')} ? 'btn filter-btn active' : 'btn filter-btn'">Current</a>
                <a th:href="@{/users(filter='archived')}" th:class="${#strings.equals(filter, 'archived')} ? 'btn filter-btn active' : 'btn filter-btn'">Archived</a>
            </div>
            <a th:href="@{/users/new-user(filter=${filter})}" class="btn btn-secondary add-action add-entity">+ Add new member</a>
        </div>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="required"></p>
        <div class="users-table">
            <table class="table">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Role</th>
                    <th th:unless="${user.userRole.name() == 'USER'}">Status</th>
                    <th th:unless="${user.userRole.name() == 'USER'}">Action</th>
                    <th th:if="${user.userRole.name() == 'USER'}"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="currentUser : ${users}">
                    <td th:text="${currentUser.firstName}"></td>
                    <td th:text="${currentUser.lastName}"></td>
                    <td>
                        <div class="email-container">
                            <span class="email" th:text="${currentUser.email}" th:attr="title=${currentUser.email}"></span>
                        </div>
                    </td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(currentUser.userRole.name(), '_', ' ')))}"></td>
                    <td th:unless="${user.userRole.name() == 'USER'}">
                        <form th:action="@{/users/{id}/status(id=${currentUser.id}, filter=${filter})}" th:method="PUT">
                            <button type="submit"
                                    th:classappend="${currentUser.active == true} ? 'btn-status-active' : 'btn-status-inactive'"
                                    th:text="${currentUser.active == true} ? 'Active' : 'Inactive'"
                                    class="btn btn-small btn-status"></button>
                        </form>
                    </td>
                    <td class="action-container">
                        <div th:unless="${user.userRole.name() == 'USER'}">
                            <a th:href="@{/users/{id}(id=${currentUser.id}, filter=${filter})}" class="btn btn-secondary btn-small">Edit</a>
                            <span th:unless="${currentUser.userRole.name() == 'PRIMARY_ADMIN'}" class="dropdown-icon">▼</span>
                        </div>
                        <div class="action-dropdown">
                            <a href="#" class="archive-link"
                               th:attr="data-id=${currentUser.id}, data-name=${currentUser.firstName + ' ' + currentUser.lastName}, data-entity='user', data-filter=${filter}"
                               th:text="${currentUser.archived ? 'Restore' : 'Archive'}"></a>
                            <a href="#" class="delete-link"
                               th:attr="data-id=${currentUser.id}, data-name=${currentUser.firstName + ' ' + currentUser.lastName}, data-entity='user', data-filter=${filter}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<div id="action-confirm-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2 id="action-title">Confirm Action</h2>
        <p id="action-message"></p>
        <div class="modal-buttons">
            <form id="action-form" th:action="@{/users/0(filter=${filter})}" th:method="POST">
                <input type="hidden" name="_method" id="action-method" value="POST" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn">Confirm</button>
            </form>
            <button id="cancel-action" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</div>

<footer>
    <p>© 2025 ClientFlow. All rights reserved.</p>
</footer>

<script src="/js/scripts.js"></script>
</body>
</html>